@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .page-bx {
    overflow-y: scroll;
  }
  
  .page-bx::-webkit-scrollbar {
    width: 5px;
  }
  
  .page-bx::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  
  .page-bx::-webkit-scrollbar-thumb {
    background-color: #00001a;
  }
}
